@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
html {
	font-family: 'Inter', sans-serif;
	font-size: 32px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	background-image: url(./images/pattern-curve.svg);
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
}
.slider {
	display: block;
	height: 100%;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	position: relative;
}
.slide {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.slide-img {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	padding: 40px;
	background-image: url(./images/pattern-bg.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.slide-text {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(./images/pattern-quotes.svg);
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: top center;
}
.testimonial-text {
	font-weight: 300;
	font-size: .7rem;
	line-height: 1rem;
	color: hsl(240, 38%, 20%);
}
.author-text {
	margin-top: 20px;
	color: hsl(240, 38%, 20%);
	font-size: .5rem;
	font-weight: 700;
}
.author-text span {
	color: hsl(240, 18%, 77%);
	font-weight: 500;
	display: block;
}
.slide-img img {
	height: 100%;
	width: 300px;
}
.prev,
.next {
	display: inline-block;
	width: 50%;
	height: 100%;
	position: absolute;
	cursor: pointer;
}
.prev:hover,
.next:hover {
	background-color: antiquewhite;
}
.buttons {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 315px;
	width: 90px;
	height: 45px;
	box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
	border-radius: 50px;
	background-color: white;
	overflow: hidden;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.next::after,
.prev::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
.next::after {
	background-image: url(./images/icon-next.svg);
}
.prev::after {
	background-image: url(./images/icon-prev.svg);
}
@media only screen and (min-width: 768px) {
	.slide {
		flex-direction: row;
		text-align: left;
	}
	.slide-text {
		background-position: 10% top;
		background-size: 100px;
		align-items: flex-start;
	}
	.slide-img {
		margin-left: -100px;
		z-index: -1;
	}
	.slide-img img {
		width: 400px;
	}
	.buttons {
		top: 415px;
		transform: translate(0);
		left: calc(100% - 400px);
	}
}
@media only screen and (max-width: 400px) {
	.slide-img img {
		width: 200px;
	}
	.slide-img {
		padding: 10px;
	}
	.buttons {
		top: 180px;
	}
}
