@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	padding: 0 30px;
}
header {
	text-align: center;
	padding: 70px 0px 50px 0;
}
header h1 {
	font-size: 1.5rem;
	font-weight: 200;
	color: hsl(234, 12%, 34%);
}
header h2 {
	font-weight: 700;
	font-size: 1.5rem;
	color: hsl(234, 12%, 34%);
	margin-bottom: 1.5rem;
}
header p {
	font-weight: 400;
	font-size: 1rem;
	color: hsl(229, 6%, 66%);
	max-width: 500px;
	margin: 0 auto;
}
.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
}
.card {
	box-shadow: 2px 8px 14px 0px hsla(229, 6%, 66%, 0.6);
	border-radius: 8px;
	padding: 30px;
	margin: 2rem 0;
	max-width: 400px;
}
.card.aqua {
	border-top: 5px solid hsl(180, 62%, 55%);
	margin: 0;
}
.card.red {
	border-top: 5px solid hsl(0, 78%, 62%);
}
.card.orange {
	border-top: 5px solid hsl(34, 97%, 64%);
}
.card.blue {
	border-top: 5px solid hsl(212, 86%, 64%);
	margin: 0;
}

.card img {
	display: block;
	margin-left: auto;
	margin-top: 30px;
}
.card h2 {
	color: hsl(234, 12%, 34%);
	font-size: 1.5rem;
}
.card p {
	font-size: 1rem;
	color: hsl(229, 6%, 66%);
}

@media only screen and (min-width: 1200px) {
	body {
		font-size: 18px;
	}
	header h1,
	header h2 {
		font-size: 2em;
	}
	header p {
		font-size: 1.1rem;
	}
	.cards {
		flex-direction: row;
	}
	.card {
		margin: 2rem;
	}
}
