@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
}

img {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
  color: black;
}

.cta {
  padding: 10px 45px;
  border-radius: 50px;
  background-color: #ff52bf;
  color: white;
  font-weight: 700;
  -webkit-box-shadow: -2px 2px 20px 0px #0000001f;
          box-shadow: -2px 2px 20px 0px #0000001f;
  font-size: .9rem;
}

#header {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  display: block;
  background-image: url(../images/bg-hero-mobile.svg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ebfbff;
}

#header .container {
  min-height: calc(100vh - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#header .container .nav {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .container .nav .logo {
  width: 120px;
}

#header .container .nav .cta-header {
  background-color: white;
  color: black;
}

#header .container .hero {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .container .hero .hero-info h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

#header .container .hero .hero-info p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 50px;
}

#header .container .hero .hero-info .cta-hero {
  padding: 15px 50px;
  font-size: 1rem;
}

#header .container .hero .hero-img img {
  max-width: 600px;
  margin-top: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

#cards {
  padding: 100px 0;
}

#cards .container .card-item {
  padding: 50px 30px;
  -webkit-box-shadow: -2px 2px 20px 0px #00000013;
          box-shadow: -2px 2px 20px 0px #00000013;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#cards .container .card-item .card-info {
  margin-top: 30px;
}

#cards .container .card-item .card-info h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

#cards .container .card-item .card-info p {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #808d99;
}

#cta-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  margin-bottom: -100px;
}

#cta-card .container .card {
  width: 100%;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: -2px 2px 20px 0px #00000013;
          box-shadow: -2px 2px 20px 0px #00000013;
  background-color: white;
  border-radius: 10px;
}

#cta-card .container .card h2 {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

#footer {
  background-color: #00252e;
  color: white;
  padding: 100px 0 30px 0;
}

#footer .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .container .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#footer .container .footer-info .footer-1 {
  margin-top: 30px;
}

#footer .container .footer-info .footer-1 ul {
  list-style: none;
}

#footer .container .footer-info .footer-1 ul li {
  margin-top: 25px;
}

#footer .container .footer-info .footer-1 ul li .logo {
  width: 200px;
}

#footer .container .footer-info .footer-1 ul li .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#footer .container .footer-info .footer-1 ul li .contact img {
  margin-top: 10px;
  width: 15px;
}

#footer .container .footer-info .footer-1 ul li .contact p {
  font-size: 1.2rem;
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#footer .container .footer-info .footer-2 ul, #footer .container .footer-info .footer-3 ul {
  list-style: none;
}

#footer .container .footer-info .footer-2 ul li, #footer .container .footer-info .footer-3 ul li {
  margin-top: 18px;
}

#footer .container .footer-info .footer-2 ul li a, #footer .container .footer-info .footer-3 ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

#footer .container .footer-info .footer-4 {
  margin-top: 80px;
  text-align: center;
  font-size: 40px;
}

#footer .container .footer-copyright {
  margin-top: 20px;
  text-align: center;
  font-size: .8rem;
}

@media only screen and (min-width: 768px) {
  #cards .container .card-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  #cards .container .card-item .card-info {
    margin-right: 50px;
  }
  #cards .container .card-item .card-info h3 {
    font-size: 1.7rem;
  }
  #cards .container .card-item .card-info p {
    font-size: 1rem;
  }
  #cards .container .card-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #cards .container .card-item:nth-child(even) .card-info {
    margin-left: 50px;
  }
  #cta-card .container .card {
    padding: 50px;
  }
  #cta-card .container .card h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  #cta-card .container .card a {
    display: inline-block;
    padding: 20px 60px;
    font-size: 1.2rem;
  }
  #footer .container .footer-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer .container .footer-info .footer-1,
  #footer .container .footer-info .footer-2,
  #footer .container .footer-info .footer-3,
  #footer .container .footer-info .footer-4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 50px;
  }
  #footer .container .footer-info .footer-1 {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    margin: 0;
  }
  #footer .container .footer-info .footer-2,
  #footer .container .footer-info .footer-3,
  #footer .container .footer-info .footer-4 {
    margin-top: 70px;
  }
  #footer .container .footer-copyright {
    text-align: right;
  }
}

@media only screen and (min-width: 1000px) {
  #header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-position: center;
    background-size: cover;
  }
  #header .container .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  #header .container .hero .hero-img {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  #header .container .hero .hero-info {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-right: 50px;
  }
  #header .container .hero .hero-info h1 {
    font-size: 2.2rem;
  }
}
