@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px;
}

#header {
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
}

#header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header nav .logo {
  width: 120px;
}

#header nav .cta-header {
  background-color: white;
  padding: .5rem 2rem;
  border-radius: 50px;
  -webkit-box-shadow: -2px 2px 20px 0px #0000001f;
          box-shadow: -2px 2px 20px 0px #0000001f;
  font-size: .9rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

#hero {
  width: 100%;
  height: auto;
  display: block;
  background-image: url(../images/bg-hero-mobile.svg);
  background-position: center center;
  background-size: cover top;
  background-repeat: no-repeat;
  background-color: #ebfbff;
}

#hero .container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
