@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

// variables
$Pink: hsl(322, 100%, 66%);
$VeryPaleCyan: hsl(193, 100%, 96%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
h1{
  font-family: 'Poppins', sans-serif;
}
img{
  height: 100%;
  width: 100%;
}
.container{
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px;
}
#header{
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  nav{
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    .logo{
      width: 120px;
    }
    .cta-header{
      background-color: white;
      padding: .5rem 2rem;
      border-radius: 50px;
      box-shadow: -2px 2px 20px 0px #0000001f;
      font-size: .9rem;
      text-decoration: none;
      color: black;
      font-weight: 700;
    }
  } 
}
#hero{ 
  width: 100%;
  height: auto;
  display: block;
  background-image: url(../images/bg-hero-mobile.svg);
  background-position: center center;
  background-size: cover top;
  background-repeat: no-repeat;
  background-color: $VeryPaleCyan;
  .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}
#cards{
  
}